<ion-view view-title="History">
  <ion-content>
          <div class="card">
            <div class="item item-divider item-dark">
              <span class="homeCardTitle">MadBar History</span>
            </div>
            <div class="item item-text-wrap homeBox">
              <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col col-50">
              <img class="logo" src="img/teamLogo.png" alt="team logo"/>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
              <p class="mainP">Formed in 2014 by a group of old boys of Wyggeston School as
                               "MadBar Fosse", the club joined the Small Goal Soccer Association in 2105.
                               Before moving to Filbert Street in 2016, the club played at five
                               different grounds, including Victoria Park south-east of the city 
                               centre and the Belgrave Road Cricket and Bicycle Grounds. The club
                               also joined the Midland League in 2015, and was elected to Division
                               Two of the Football League in 2015 after finishing second.</p>
            </div>
            <div class="item item-divider item-dark"></div>
          </div>
  </ion-content>
</ion-view>
