<ion-view view-title="Home">
  <ion-content>
    <h1 class="homeTitle">MadBar FC</h1>

      <div class="row">
        <div class="col col-33"></div>
          <div class="col col-33 col-center">
            <img class="logo" src="img/teamLogo.png" alt="team logo" />
          </div>
          <div class="col col-33"></div>
      </div>

      <div class="card">
        <div class="item item-divider item-dark">
            About MadBar FC
        </div>
          <div class="item item-text-wrap">
            <p class="mainP">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
              porttitor enim. Maecenas non laoreet neque. Integer vel vulputate
              lacus. Phasellus at nulla eu elit mollis iaculis non vitae tellus.
              Nullam pulvinar lacus sem, vitae condimentum massa gravida id.
              Pellentesque interdum sollicitudin bibendum. Nullam sem nunc,
              vestibulum eget metus a, tristique interdum arcu.</p>
          </div>
      </div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-positive">
    <h1 class="title">Footer</h1>
  </ion-footer-bar>

</ion-view>
