<ion-view view-title="Home">
  <ion-content>
    <!-- attempt to center items -->
    <!-- content centered in a 90% column -->
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
        <div class="col col-90">
          <!-- content -->
          <h1 class="madbarHeading">MadBar FC</h1>


          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col col-50">
                <img class="logo" src="img/teamLogo.png" alt="team logo"/>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <div class="card">
          <div class="item item-divider item-dark">About MadBar FC</div>
          <div class="item item-text-wrap divider-top">
          <p class="mainP">Hmm.. MadBar Fc, just a badass amateur soccer team from Phoenix, AZ
                           and currently playing in the <a ng-href="smallgoalssoccer.com">Small Goals Soccer league</a>
                           north side division. The team is made up of talented players with supernatural skills.
          </p>
          </div>
          </div>

        </div>
        <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
