<ion-view view-title="Home">
  <ion-content>
    <!-- attempt to center items -->
    <!-- content centered in a 90% column -->
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
        <div class="col col-90">
          <h1 class="madbarHeading">MadBar FC</h1>


          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col col-50">
                <img class="logo" src="img/teamLogo.png" alt="team logo"/>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

          <div class="card">
          <div class="item item-divider item-dark">About MadBar FC</div>
          <div class="item item-text-wrap">
          <p class="mainP">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
             porttitor enim. Maecenas non laoreet neque. Integer vel vulputate
             lacus. Phasellus at nulla eu elit mollis iaculis non vitae tellus.
             Nullam pulvinar lacus sem, vitae condimentum massa gravida id.
             Pellentesque interdum sollicitudin bibendum. Nullam sem nunc,
             vestibulum eget metus a, tristique interdum arcu.</p>
          </div>
          </div>
        </div>
        <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
