<ion-view view-title="News">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap customCard">
        DoubleHeader on Jan 5 2016<br>
        First game @ 7:50 pm<br>
        Second game @ 8:40 pm
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap customCard">
        New field location @ Roadrunner park<br>
        <a ng-href={{"https://www.google.com/maps/place/3502+E+Cactus+Rd,+Phoenix,+AZ+85032/@33.5981494,-112.0091809,17z/data=!3m1!4b1!4m2!3m1!1s0x872b724ebd35f20b:0xff90abdeae405210"}}>
        3502 E Cactus Rd<br>
        Phoenix, AZ 85032
      </a>
      </div>
    </div>
  </ion-content>
</ion-view>
