<ion-view view-title="Profile">
<ion-content>
  <div class="list card" ng-model="players">
  <div class="item item-thumbnail-left">
    <img ng-src="../img/{{ players[whichItem].shortname }}.jpeg" alt="{{ players[whichItem].name }}" />
    <h2>{{players[whichItem].name}}</h2>
    <p>{{players[whichItem].position}}</p>
  </div>

  <div class="item item-body">
    <p>{{players[whichItem].bio}}</p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
</ion-content>
</ion-view>
