<ion-view view-title="Standings">
  <ion-content>
    <!-- standings content -->
    <div class="list list-inset">
              <div class="row item divider-top-header">
                <div class="col col-50">Team</div>
                <div class="col">W</div>
                <div class="col">D</div>
                <div class="col">L</div>
                <div class="col">PTS</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">Illmatic FC</div>
                <div class="col">2</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">6</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">Thunderbird</div>
                <div class="col">2</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">6</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">FC Savages</div>
                <div class="col">2</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">6</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">Panic FC</div>
                <div class="col">1</div>
                <div class="col">0</div>
                <div class="col">1</div>
                <div class="col">3</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">Mad Bar</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">2</div>
                <div class="col">0</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">Polska FC</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">2</div>
                <div class="col">0</div>
              </div>
              <div class="row item divider-top">
                <div class="col col-50">West Valley FC</div>
                <div class="col">0</div>
                <div class="col">0</div>
                <div class="col">2</div>
                <div class="col">0</div>
              </div>
        </div>
  </ion-content>
</ion-view>
