<ion-view view-title="Standings">
  <ion-content>
    <!-- standings content -->
    <div class="list list-inset">
              <div class="row item divider-top-header">
                <div class="col col-50">Team</div>
                <div class="col">W</div>
                <div class="col">D</div>
                <div class="col">L</div>
                <div class="col">PTS</div>
              </div>

              <div ng-repeat="standing in standings">
                <div class="row item divider-bottom">
                  <div class="col col-50">{{standing.team}}</div>
                  <div class="col">{{standing.w}}</div>
                  <div class="col">{{standing.d}}</div>
                  <div class="col">{{standing.l}}</div>
                  <div class="col">{{standing.pts}}</div>
                </div>
              </div>

        </div>
  </ion-content>
</ion-view>
