<ion-view view-title="Training Facilities">
  <ion-content>
    <!-- attempt to center items -->
    <!-- content centered in a 90% column -->
      <h1 class="heading">MadBar grounds</h1>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
        <div class="col col-80">

          <!-- content -->
            <h2>Park Locations</h2>
            <h3>Coronado Park</h3>
                <div id="map"></div>
            <p>1717 N. 12th Street<br>Phoenix, AZ 85006</p>

            <h3>Cesar Chavez Park</h3>
                <div id="map2"></div>
            <p>7858 S 35th Ave<br>Laveen Village, AZ 85339</p>


        </div>
        <div class="col"></div>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>
