<ion-view view-title="Training Facilities">
  <ion-content>
    <!-- attempt to center items -->
    <!-- content centered in a 90% column -->
      <h1 class="heading">MadBar grounds</h1>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
        <div class="col col-90">

        <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 100%; }
        </style>
          <!-- content -->
            <h2>Park Locations</h2>
            <h3>Coronado Park</h3>
            <div id="map"></div>
            <p>1717 N. 12th Street<br>Phoenix, AZ 85006</p>


            <h3>Cesar Chavez Park</h3>
            <p>7858 S 35th Ave<br>Laveen Village, AZ 85339</p>


        </div>
        <div class="col"></div>
      <div class="col"></div>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK1Rxl_gzfcN87wNfMP5JiNyvp-GiIJXkcallback=initMap">
    </script>
  </ion-content>
</ion-view>
