<ion-view view-title="Training Facilities">

          <!-- content
          <div class="mapContent">
            <h3>Coronado Park</h3>
                <div id="map" ng-controller="MapCtrl">
                </div>
            <p>1717 N. 12th Street<br>Phoenix, AZ 85006</p>

            <h3>Cesar Chavez Park</h3>
                <div id="map2" ng-controller="MapCtrl">
                </div>
            <p>7858 S 35th Ave<br>Laveen Village, AZ 85339</p>

            <h3>ASU West</h3>
                <div id="map3" ng-controller="MapCtrl">
                </div>
            <p>4720 W Sweetwater Ave<br>Glendale, AZ 85304</p>
          -->

  <ion-tabs class="tabs-dark tabs-icon-top">

  <ion-tab title="Location 1" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
    <!-- Tab 1 content -->
    <div id="map" ng-controller="MapCtrl"></div>
  </ion-tab>

  <ion-tab title="Location 2" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
    <!-- Tab 2 content -->
    <!--<div id="map2" ng-controller="MapCtrl"></div>-->
  </ion-tab>

  <ion-tab title="Location 3" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
    <!-- Tab 3 content -->
    <!--<div id="map3" ng-controller="MapCtrl"></div>-->
  </ion-tab>

</ion-tabs>
</ion-view>
